#############################################
## Отмечаем, что не нужно отправлять в GIT ##
#############################################

# Игнорируем среду разработки #
/.idea/*
/nbproject/*

# Игнорируем образцы с другого репозитория #
/samples/*

# Исключения #
!.gitkeep
!.htaccess